.button {
  border-radius: $border-radius;
  border: 1px solid;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: $small-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
  transition: none;

  &:hover {
    background: $primary-color;
    color: $white;
  }
  &:disabled {
    opacity: .5;
  }


  &--primary {
    color: $primary-color;
    &:hover {
      background: $primary-color;
    }
  }

  &--secondary {
    color: $secondary-color;
    &:hover {
      background: $secondary-color;
    }
  }

}

