/////////////////////////////////
// Grid
/////////////////////////////////
$custom-grid: (
        columns: 12,
        gutter: $gutter,
);

$custom-grid--md: (
        columns: 12,
        gutter: $gutter,
        media: "(max-width: 1024px)",
);


$custom-grid--sm: (
        columns: 12,
        gutter: $gutter,
        media: "(max-width: 480px)",
);


.row {
  margin-left: - map-get($custom-grid, gutter);
  margin-right: - map-get($custom-grid, gutter);
  @include grid-container;
}

// Large / Default grid
// .col-x
// .col-push-x
@for $i from 1 through map-get($custom-grid, columns) {

  .col-#{$i} {
    @include grid-column($i, $custom-grid);
    margin-bottom: map-get($custom-grid, gutter)
  }

  .col-push-#{$i} {
    @include grid-push($i);
  }

}

// Medium grid
// .col-md-x
// .col-md-push-x
@for $i from 1 through map-get($custom-grid--md, columns) {

  .col-md-#{$i} {
    @include grid-media($custom-grid--md) {
      @include grid-column($i);
      margin-bottom: map-get($custom-grid--md, gutter)
    }
  }

  .col-push-#{$i} {
    @include grid-media($custom-grid--md) {
      @include grid-push($i);
    }
  }

}

// Medium grid
// .col-sm-x
// .col-sm-push-x
@for $i from 1 through map-get($custom-grid--sm, columns) {

  .col-sm-#{$i} {
    @include grid-media($custom-grid--sm) {
      @include grid-column($i);
      margin-bottom: map-get($custom-grid--sm, gutter)
    }
  }

  .col-push-#{$i} {
    @include grid-media($custom-grid--sm) {
      @include grid-push($i);
    }
  }

}
