/////////////////////////////////
// Layout
/////////////////////////////////
.section {
  padding: $spacing-xxl 0;

  // The first section needs som extra spacing
  &:first-of-type {
    margin-top: $spacing-xxl;
  }

  &--no-padding {
    padding: 0;
  }
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gutter;

  &--no-padding {
    padding: 0;
  }
}

/////////////////////////////////
// Grid
/////////////////////////////////
$custom-grid: (
        columns: 12,
        gutter: $gutter,
);

.row {
  > * {
    min-height: $gutter * 4; //Todo: Remove
    background: #efefef; //Todo: Remove
  }
}

.row {
  @include grid-container;
}

$i: for !default;
@for $i from 1 through map-get($custom-grid, columns) {
  .col-#{$i} {
    @include grid-column($i, $custom-grid);
    margin-bottom: $gutter;
  }
}
