/////////////////////////////////
// Layout
/////////////////////////////////
.section {
  padding: $spacing-xxl 0;

  // The first section needs som extra spacing
  &:first-of-type {
    margin-top: $spacing-xxl;
  }

  &--no-padding {
    padding: 0;
  }

  &--no-margin {
    &.section {
      margin: 0;
    }

  }

}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gutter;

  &--no-padding {
    padding: 0;
  }
}


.component {
  margin-bottom: $spacing-xl;
}
