/////////////////////////////////
// Typography
/////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Lato');

body {
  font-size: $font-size-base;
  font-family: $font-primary;
  line-height: $line-height-base;
  color: $color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: bold;

  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-heading;

  margin-bottom: .7em;

  * + & {
    margin-top: $spacing-xl;
  }
}

h1,
.font-size--xxl {
  font-size: $font-size-xxl;
}

h2,
.font-size--xl {
  font-size: $font-size-xl;
}

h3,
h4,
h5,
h6,
.font-size--l {
  font-size: $font-size-l;
}

.font-size--base {
  font-size: $font-size-base;
}

.font-size--s,
small {
  font-size: $font-size-s;
}

.font-size--xs {
  font-size: $font-size-xs;
}

p {
  margin-bottom: 1em;
  max-width: $paragraph-width;
}

ul, ol {
  font-variant-numeric: tabular-nums;
  list-style-position: inside;

  padding-left: $text-indent;
  margin-bottom: 1em;
  margin-top: 1em;

  li {
    margin-bottom: 0;
  }
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $color-primary;
  border: 1px dashed transparent;

  &:active,
  &:hover {
    color: darken($color-primary, 10%);
  }

  &:focus {
    border: 1px dashed $color-primary;
  }
  &:visited {
    color: lighten($color-primary, 10%);
  }
}

blockquote {
  padding-left: $text-indent;
  margin-bottom: 1em;
  font-size: $font-size-l;
  color: $color-secondary;
  max-width: $paragraph-width;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-border;
  margin: 1em 0;
  padding: 0;
}

::selection {
  background: $color-primary; /* WebKit/Blink Browsers */
  color: $color-negative;
}
::-moz-selection {
  background: $color-primary; /* Gecko Browsers */
  color: $color-negative;
}

code, kbd, pre, samp {
  font-family: monospace;
  background: darken($color-negative, 10%);
  padding: .1em .2em;
  margin: 0.1em; 
  padding: .25ex .75ch;
}
